@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center overflow-hidden">
    <div class = "w-40 h-100">

        <div class = " border border-5 border-dark">1</div>

    </div>
</div>
