@*@model BusTicketBookingSystem.Models.SeatDetail*@
@model BusTicketBookingSystem.Models.UserDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uname" class="control-label"></label>
                <input asp-for="Uname" class="form-control" />
                <span asp-validation-for="Uname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UmobileNumber" class="control-label"></label>
                <input asp-for="UmobileNumber" class="form-control" />
                <span asp-validation-for="UmobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurentAddress" class="control-label"></label>
                <input asp-for="CurentAddress" class="form-control" />
                <span asp-validation-for="CurentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NativeAddress" class="control-label"></label>
                <input asp-for="NativeAddress" class="form-control" />
                <span asp-validation-for="NativeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <select asp-for="SeatNumber" class ="form-control" asp-items="ViewBag.SeatNumber"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
